
{% extends "userheader.html" %}
{% load static %}

<title> {% block title %} Change Password {% endblock %}</title>

{% block content %}
<style type="text/css">
    label{font-size:16px; color:black; text-style:normal}
    h1{color:Green}
</style>
 <div class="container">
     <div class="col-md-6"><br><br>
    <h1>Change Password</h1>
<br>
    <form action="" method="post">
                     {% csrf_token %}
		  <input type="password" name="oldpassword" placeholder="Enter old password" class="form-control">
        <br>
		  <input type="password" name="password1" placeholder="Enter new password" class="form-control">
        <br>
  		  <input type="password" name="password2" placeholder="Confirm password" class="form-control">
						<br><div class="tp">
     			<input type="submit" value="Change Password" class="btn btn-success">

								{% if message %}
								<div class="alert alert-danger" style="margin-top:20px">
									{{ message }}
								</div>
								{% endif %}

  			</div>


</form>




     </div>
  </div>

<script type="text/javascript">
    $(document).ready(function(){
        $(":input").addClass('form-control');
    })

</script>
{% endblock %}

