<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "loginheader.html"%}
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title}Signup{% endblock}</title>
</head>
<body>
    {% block content %}
        <br>
        <br>
        <h1 align="center">ALREADY A MEMBER???LOGIN!!!!!!!</h1>
        <br>
        <br>



         <form action="" method="post">
            <table align="center" >
                {% csrf_token %}
                {{form.as_table}}

                <tr><td></td><td><input type="submit" value="Login" class="btn btn-success"/></td></tr>

            </table>
        </form>


        {% if messages %}
         <ul class="messages">
             {% for message in messages %}
                <li>{{ message }}</li>
             {% endfor %}
         </ul>
        {% endif %}



    {% endblock %}
</body>
</html>